[data-theme="light"]{
	--bg-color: #edf2f7;
	--bg-raised-color: #ffffff;
	--bg-button-color: var(--bg-color);
	--text-color: #4a5568;
	--text-dark-color: #1a202c;
	--text-button-color: var(--text-dark-color);
}