@font-face {
 font-family: "JetBrainsMono Regular";
 src: url("../fonts/JetBrainsMono-Regular.ttf") format("truetype");
 font-style: normal;
}
@font-face {
 font-family: "JetBrainsMono Bold";
 src: url("../fonts/JetBrainsMono-Bold.ttf") format("truetype");
 font-style: normal;
}
@font-face {
 font-family: "JetBrainsMono-ExtraBold";
 src: url("../fonts/JetBrainsMono-ExtraBold.ttf") format("truetype");
 font-style: normal;
}
:root{
	--size-rounded-control: 0.25rem;
	--font-standard: "JetBrainsMono Regular";
	--font-bold: "JetBrainsMono Bold";
	--color-brand: #5da545;
}
html{
	height: 100vh;
}
body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 0px;
	margin: 0px;
	color: var(--text-color);
	font-family: var(--font-standard);
}
header{
	height: 2.5em;
	padding: 0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bg-raised-color);
}
nav{
	height: 100%;
	display: flex;
	justify-content: center;
	gap: 0.5em;
}
nav a{
	padding: 10px;
	display: flex;
	align-items: center;
	background-color: var(--bg-button-color);
	text-decoration: none;
	font-family: var(--font-bold);
	color: var(--text-button-color);
	border-radius: var(--size-rounded-control);
}
nav button{
	display: flex;
	align-items: center;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--bg-button-color);
	border: none;
	border-radius: var(--size-rounded-control);
}
nav a:hover{
	color: var(--color-brand);
}
#theme-switcher svg{
	height: 80%;
	padding: 10px;
	color: var(--text-button-color);
}
#theme-switcher svg:hover{
	color: var(--color-brand);
	fill: var(--color-brand);
}
nav button:hover{
	cursor: pointer;
}
main{
	background-color: var(--bg-color);
	flex-grow: 1;
	display: grid;
	padding: 10px;
	grid-gap: 30px;
	align-content: flex-start;
	grid-template-columns: repeat(auto-fill, 1fr);
}
main .post{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(10vh, 1fr));
	grid-gap: 10px;
}
main .post div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background: var(--bg-raised-color);
	padding: 10px;
}
main .post div p{
	color: var(--text-color);
	font-family: "JetBrainsMono-ExtraBold";
	font-size: 1em;
	
}
main .post div:first-child{
	color: var(--text-color);
	font-size: 1em;
}
footer{
	background-color: var(--bg-raised-color);
	height: 5vh;
	padding: 0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
}
footer .social{
	border-radius: var(--size-rounded-control);
	background-color: var(--bg-button-color);
	display: flex;
	padding: 0 1em;
	gap: 1em;
	height: 100%;
	justify-content: center;
}
footer .social a{
	height: 100%;
	display: flex;
}
footer .social a svg{
	display: flex;
	width: 28px;
	justify-content: center;
	color: var(--text-button-color);
	fill: var(--text-button-color);
}
footer .social a svg:hover{
	color: var(--color-brand);
	fill: var(--color-brand);
}